@media all {
  * {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  .elementor-element:where(.e-con-full, .elementor-widget) {
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    gap: var(--gap);
  }

  :is(.elementor-section-wrap, [data-elementor-id]) > .e-con {
    --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width));
  }

  html {
    scroll-behavior: auto !important;
  }

  :root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media all {
  :root {
    --theme-color: #0181f5;
    --title-color: #010f34;
    --body-color: #788094;
    --white-color: #ffffff;
    --body-font: "DM Sans", sans-serif;
    --main-container: 1220px;
    --container-gutters: 30px;
  }

  a {
    color: #0d6efd;
    text-decoration: underline;
  }

  a {
    color: var(--theme-color);
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  .th-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 22px 30px;
    min-width: 144px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .elementor a {
    box-shadow: none;
    text-decoration: none;
  }

  a:hover {
    color: #0a58ca;
  }

  a:hover {
    color: var(--title-color);
  }

  a:hover {
    text-decoration: none;
    outline: 0;
  }

  .th-btn:hover {
    color: var(--white-color);
  }

  .th-btn.style4 {
    background-color: var(--theme-color);
    color: var(--white-color);
  }

  .th-btn:hover {
    color: var(--white-color) !important;
  }

  .th-btn.style4:hover {
    color: var(--title-color) !important;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  .th-btn:before,
  .th-btn:after {
    content: "";
    background: var(--white-color);
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: -1;
    height: 0%;
    left: 0;
    top: 0;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    width: 100%;
    border-radius: 10px;
  }

  .th-btn:hover:before,
  .th-btn:hover:after,
  .th-btn.active:before,
  .th-btn.active:after {
    height: 100%;
    background: var(--theme-color);
  }

  .th-btn.style4:hover:before,
  .th-btn.style4:hover:after {
    background-color: var(--white-color);
  }

  .elementor *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  a:active {
    outline: none;
  }

  a:active,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
}

@media all {
  * {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  .elementor-element:where(.e-con-full, .elementor-widget) {
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    gap: var(--gap);
  }

  :is(.elementor-section-wrap, [data-elementor-id]) > .e-con {
    --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width));
  }

  html {
    scroll-behavior: auto !important;
  }

  :root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media all {
  :root {
    --theme-color: #0181f5;
    --title-color: #010f34;
    --body-color: #788094;
    --white-color: #ffffff;
    --body-font: "DM Sans", sans-serif;
    --main-container: 1220px;
    --container-gutters: 30px;
  }

  .btn-group {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
  }

  .btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  .slideinup {
    opacity: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-name: var(--animation-name);
    animation-name: var(--animation-name);
  }

  .th-animated {
    opacity: 1;
  }

  .slideinup.th-animated {
    --animation-name: slideinup;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  .elementor *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  a {
    color: #0d6efd;
    text-decoration: underline;
  }

  a {
    color: var(--theme-color);
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  @media (max-width: 768px) {
    .th-btn {
      font-size: 10px !important ;
      padding: 16px 22px !important;
    }
  }
  @media (max-width: 425px) {
    .th-btn {
      font-size: 10px !important ;
      padding: 16px 22px !important;
    }
  }

  .th-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 22px 30px;
    min-width: 144px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .elementor a {
    box-shadow: none;
    text-decoration: none;
  }

  .th-btn.style4 {
    background-color: var(--theme-color);
    color: var(--white-color);
  }

  .th-btn:before,
  .th-btn:after {
    content: "";
    background: var(--white-color);
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: -1;
    height: 0%;
    left: 0;
    top: 0;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    width: 100%;
    border-radius: 10px;
  }

  a:hover {
    color: #0a58ca;
  }

  a:active {
    outline: none;
  }

  a:hover {
    color: var(--title-color);
  }

  a:active,
  a:hover {
    text-decoration: none;
    outline: 0;
  }

  .th-btn:hover {
    color: var(--white-color);
  }

  .th-btn:hover {
    color: var(--white-color) !important;
  }

  .th-btn.style4:hover {
    color: var(--title-color) !important;
  }

  .th-btn:hover:before,
  .th-btn:hover:after,
  .th-btn.active:before,
  .th-btn.active:after {
    height: 100%;
    background: var(--theme-color);
  }

  .th-btn.style4:hover:before,
  .th-btn.style4:hover:after {
    background-color: var(--white-color);
  }

  a:hover {
    text-decoration: none;
    outline: 0;
  }

  .th-btn.th-border {
    border: 1px solid var(--white-color);
    background: transparent;
    color: var(--white-color);
  }

  .th-btn.th-border:hover {
    border: 1px solid var(--theme-color);
  }

  .th-btn.th-border:before,
  .th-btn.th-border:after {
    background: var(--theme-color);
  }
}

@keyframes slideinup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transform: translateY(0px);
  }
}
/* These were inline style tags. Uses id+class to override almost everything */
#style-Zkm92.style-Zkm92 {
  animation-delay: 0.5s;
}

@media all {
  * {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }

  .row > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
  }

  .elementor-element:where(.e-con-full, .elementor-widget) {
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    gap: var(--gap);
  }

  :is(.elementor-section-wrap, [data-elementor-id]) > .e-con {
    --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width));
  }

  html {
    scroll-behavior: auto !important;
  }

  :root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media all {
  :root {
    --theme-color: #0181f5;
    --title-color: #010f34;
    --body-color: #788094;
    --white-color: #ffffff;
    --body-font: "DM Sans", sans-serif;
    --main-container: 1220px;
    --container-gutters: 30px;
  }

  a {
    color: #0d6efd;
    text-decoration: underline;
  }

  a {
    color: var(--theme-color);
    text-decoration: none;
    outline: 0;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  .th-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 22px 30px;
    min-width: 144px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .elementor a {
    box-shadow: none;
    text-decoration: none;
  }

  a:hover {
    color: #0a58ca;
  }

  a:hover {
    color: var(--title-color);
  }

  a:hover {
    text-decoration: none;
    outline: 0;
  }

  .th-btn:hover {
    color: var(--white-color);
  }

  .th-btn.style3 {
    background-color: var(--title-color);
    color: var(--white-color);
  }

  .th-btn {
    margin-left: 15px;
  }

  .th-btn:hover {
    color: var(--white-color) !important;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  .th-btn:before,
  .th-btn:after {
    content: "";
    background: var(--white-color);
    position: absolute;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: -1;
    height: 0%;
    left: 0;
    top: 0;
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    width: 100%;
    border-radius: 10px;
  }

  .th-btn:hover:before,
  .th-btn:hover:after,
  .th-btn.active:before,
  .th-btn.active:after {
    height: 100%;
    background: var(--theme-color);
  }

  .th-btn.style3:hover:before,
  .th-btn.style3:hover:after {
    background-color: var(--theme-color);
  }

  .elementor *,
  .elementor ::after,
  .elementor ::before {
    box-sizing: border-box;
  }

  a:active {
    outline: none;
  }

  a:active,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
}

button {
  border-radius: 0;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.th-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: var(--theme-color);
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 22px 30px;
  min-width: 144px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
}

.th-btn:hover {
  color: var(--white-color);
}

.th-btn.fw-btn {
  width: 100%;
  margin-left: auto;
}

.th-btn:hover {
  color: var(--white-color) !important;
}

.th-btn:before,
.th-btn:after {
  content: "";
  background: var(--white-color);
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: -1;
  height: 0%;
  left: 0;
  top: 0;
  -webkit-transform: skew(0deg);
  -ms-transform: skew(0deg);
  transform: skew(0deg);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  width: 100%;
  border-radius: 10px;
}

.th-btn:hover:before,
.th-btn:hover:after,
.th-btn.active:before,
.th-btn.active:after {
  height: 100%;
  background: var(--theme-color);
}
.padding {
  padding: 19px 30px !important;
}
/* media query  */
@media (max-width: 991px) {
  .padding {
    padding: 12px 30px !important;
  }
}
@media (max-width: 768px) {
  .padding {
    padding: 8px 25px !important;
    font-size: 10px !important;
  }
}
.paddings {
  padding: 11px 30px !important;
}
/* media query  */
@media (max-width: 991px) {
  .paddings {
    padding: 12px 30px !important;
  }
}
@media (max-width: 768px) {
  .paddings {
    padding: 8px 25px !important;
    font-size: 10px !important;
  }
}
.responsive {
  padding: 14px 30px !important;
}
@media (max-width: 768px) {
  .responsive {
    padding: 12px 22px !important;
  }
}
